<article id='location' class='item_page'>
    <header>{{name}}</header>
    <section class='details'>
        <p class='address' align='center'>{{location}}</p>
    </section>
    <section class='list'>
        <header>List of events</header>
        <ul>
            {{#events}}
                <li id='event_{{id}}'>
                    <a href='/events/{{id}}' title='{{description}}'>{{title}}</a>
                </li>
            {{/events}}
        </ul>
    </section>
</article>
