<article id='event' class='item_page'>
    <h2 class='header'>{{title}}</h2>
    <section class='details'>
        <h3 class='header hidden'>Details</h3>
        <p class='description'>{{description}}</p>
        <p class='start_time'>
            <time datetime='{{startTime}}'>
                {{niceDate startTime}}
            </time>
        </p>
    </section>
    <section class='list'>
        <h3 class='header'>List of attendees</h3>
        <ul>
            {{#attendees}}
                <li id='person_{{id}}'>
                    <a href='{{> path}}/people/{{id}}'>{{name}}</a>
                </li>
            {{/attendees}}
        </ul>
    </section>
    <footer>
        <p><a href='{{> path}}/locations/{{location.id}}'>{{location.name}}</a> - {{location.location}}</p>
    </footer>
</article>
